body {
    color : rgba(0,0,0,0.5);
    font-family : Arial, Sans-serif;
    background-color : #33D1F5;
    margin : 0;
    padding : 0;}

ul, p, h1, h2, h3, h4, h5, h6{
    padding-left : 0.5em;}

a{
    text-decoration : none;
    cursor: pointer;
    color : inherit}

#logo{
    color : #ffffff;
    text-transform: uppercase;
    text-align: center;}
    
    #logo h1{
        display: inline-block;
        background-color: rgba(0,0,0,0.5);
        padding: 0.3em 1em;}

    #logo h2{
        font-size: 0.9em;
        padding: 0 ;
        margin: 0em;}

#menu{
    padding : 0;
    margin : 0.3em;
    text-align: center}

    #menu li{
        display: inline-block;
        margin-right : 0.8em;
        padding : 0.3em;
        list-style-type: none;
        background-color: #ffffff;}

    #menu a{
        color : rgba(0,0,0,0.5);
        cursor: pointer;}

#footer{
    width : 100%;
    background-color: rgba(0,0,0,0.5);
    color : #ffffff;
    text-align: center;
    padding : 5em;
    position: absolute;
    bottom: 0;}
    
    #footer p, #footer address{
        font-size: 0.8em;
        padding : 0;
        margin : 0.1em;}

#footer a, #footer address{
        color : #33D1F5;}
